ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=host.docker.internal;Port=5432;Database=postgres;Username=postgres;Password=changeme;SSL Mode=Require;Trust Server Certificate=true
Jwt__Key=CHANGE-THIS-TO-A-SECURE-KEY-AT-LEAST-32-CHARS-LONG!!
Jwt__Issuer=ThirdWheel.API
Jwt__Audience=ThirdWheel.IOSNative
API_PORT=5127
ADMIN_PORT=5173
WEB_PORT=3000
WEB_PUBLIC_API_ORIGIN=http://localhost:5127
